body {
    font-family: Verdana;
}

.highlight {
    background-color: yellow;
}

.lowscore{
    color: red;
    font-weight: bold;

}

.btn btn-info{
    border-radius: 10em 10em 10em 10em;
}